 
      <div class="jarallax jarallax-avd">
              
              <div class="demo-table">
                  <div class="demo-table-cell">
                      <h2>En oase for vekst og glede</h2>
                  </div>
              </div>
          <div>
            <img src="assets/IMG_9883.jpg" class="jarallax-img">
          </div>
      </div>  


      <div class="demo-gap" id="informasjon">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-block">
                <% @barnehagen.each do |art| %>
                  <h1><%= art.title %></h1>
                  <div>
                    <%= art.content.html_safe %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <section class="section-nopadding">
      <div id="map" style="height: 500px" class=""></div>
    </section>