

		<div class="col-sm-9">

			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form', meeting: @meeting %>

					</div>
				</div>
			</div>
		</div>

