		<div class="col-sm-12">

			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form', employee: @employee %>

					</div>
				</div>
			</div>
		</div>

	

