<p id="notice"><%= notice %></p>

<h1>Bilder</h1>

<%= link_to 'Last opp', new_admin_photo_path, :class => 'btn btn-sm btn-success'  %>


            <div class="panel-body">  
                <h3>Bildegalleri</h3>
            <% @photos.each do |photo| %>
              
                  <div class="file-box">

                      <div class="file">
                          <a href="#">
                              <span class="corner"></span>

                              <div class="image">
                                 
                                  <%= link_to image_tag(photo.image.url :thumb), admin_photo_path(photo) %>

                              </div>
                              <div class="file-name">
                                  
                              </div>
                          </a>

                      </div>
                      <%= link_to 'Slett', admin_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div> 
               
            
            <% end %>  
                 
          </div>