<div class="ibox">
  	<div class="ibox-title"><h2><i class="fa fa-child"></i> Redigere barn</h2></div>
  	<div class="ibox-content">	
  		<div class="row">
			<%= render 'form' %>
		</div>
	</div>
</div>

	
