
		<div class="col-sm-8">
			<h3><i class="fa fa-child"></i> Registrere nytt barn</h3>
			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form' %>

					</div>
				</div>
			</div>
		</div>
