    <div class="demo-content" style="margin:60px 0">

        <div class="container">

          <div class="">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h2><%= artic.title%></h2>
                <p>
                  <%= artic.content.html_safe%>
                </p>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="image">
                  <%= image_tag(artic.image, :class => "small-screen-margin-top", :alt => "dukkeverksted") %>
                </div>
              </div>
            </div>
          </div>

        </div>

       <div class="container">


        </div>


    </div>