	<div class="jarallax jarallax-avd">        
	    <div class="demo-table">
	        <div class="demo-table-cell">
	            <h2><%= artic.title %></h2>
	            <p class="">
	            	 <%= artic.content.html_safe %>
	            </p>

	        </div>
	    </div>
	    <div>
	    	<%= image_tag(artic.image, :class => "jarallax-img") %>
	    </div>
	</div>  