	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12" style="color:red;text-align: center;">

				<h1>404</h1>
				<p>Vi beklager, men siden du leter etter finnes ikke.</p>
				<p><%= link_to 'Til forsiden', root_url, :class => 'btn btn-danger' %></p>

			</div>
		</div>
	</div>
