		<div class="col-sm-9">

			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form' %>

						<%= link_to 'Tilbake', admin_documents_path %>

					</div>
				</div>
			</div>
		</div>
