Hei.
<p>For å gjenopprette passordet ditt klikk på linken under</p>
<p><%= edit_password_reset_url(@parent.password_reset_token) %></p>
<p>Om du ikke har bedt om passordgjenoppretting, kan du se bort fra denne eposten.</p>
<p>Med vennlig hilsen</p>
<p>Korhnstad Montessori</p>
