<div class="avdeling-blue" style="padding:80px 0;">

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<% if params[:form] == 'pwd' %>
				<%= render 'form-pwd' %>
			<% else %>
				<%= render 'form' %>
			<% end %>
		</div>
	</div>
</div>

