<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hei <%= @parent.name %>,</p>
    <p>velkommen som bruker hos Krohnstad Montessori</p>
    <p><strong>Dette må du gjøre:</strong></p>
    <p>Logg inn på din side på <a href="https://www.krohnstad.no/logginn">Krohnstad Montessori</a></p>
    <p>Passord står oppgitt under.</p>
    <p>Etter at du har logget inn første gang, gå til "endre innstillinger" og bytt passord. 
Se hvordan du lager et personlig, sikkert passord på <a href="https://nettvett.no/passord">nettvett.no/passord</a>.</p>
    <p>Du velger selv om din kontaktinfo skal være synlig for foresatte på dine barns avdelinger. </p>
    <p>Brukernavn: <%= @parent.email %></p>
    <p>Passord: <%= @parent.password %></p>
    <p>Spørsmål? Send dem til <a href="mailto:edith@krohnstad.no">edith@krohnstad.no</a>.</p>
    <p>Alt godt,</p>
    <p>Edith og alle på Årø og Skaret</p>
  </body>
</html>