<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hei <%= @parent.name %>,</p>
    <p>游닊游꿨Hurra, n친 er nye krohnstad.no lansert!游꿧游꾹游</p>
    <p><strong>Dette m친 du gj칮re:</strong></p>
    <p>Logg inn p친 din side p친 <a href="https://www.krohnstad.no/logginn">Krohnstad Montessori</a></p>
    <p>Passord st친r oppgitt under.</p>
    <p>Etter at du har logget inn f칮rste gang, g친 til "endre innstillinger" og bytt passord. 
Se hvordan du lager et personlig, sikkert passord p친 <a href="https://nettvett.no/passord">nettvett.no/passord</a>.</p>
    <p>Du velger selv om din kontaktinfo skal v칝re synlig for foresatte p친 andre avdelinger. </p>
    <p>Brukernavn: <%= @parent.email %></p>
    <p>Passord: <%= @parent.password %></p>
    <p>Sp칮rsm친l? Send dem til <a href="mailto:edith@krohnstad.no">edith@krohnstad.no</a>.</p>
    <p>Alt godt,</p>
    <p>Edith og alle p친 칀r칮 og Skaret</p>
  </body>
</html>