<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hei <%= @parent.name %>,</p>
    <p>du er n책 registrert som bruker hos krohnstad.no</p>
    <p>Her er p책logginsinformasjonen til din side:</p>
    <p>Brukernavn: <%= @parent.email %></p>
    <p>Passord: <%= @parent.password %></p>
    <p>G책 til <a href="https://krohnstad.no">din side</a> for 책 finne informasjon om ditt/dine barn.</p>
    <p>&nbsp;</p>
    <p>Vennlig hilsen oss i Krohnstad Montessori</p>
  </body>
</html>