
<div class="" style="padding:40px 0;background: url('<%= artic.image %>');background-size: cover;">
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="padding: 0 20px">
        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
          <h2><%= artic.title %></h2>
          <div class="article-content">
              <%= artic.content.html_safe %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>