<section id="section-<%= artic.id %>" style="margin:60px 0px;padding:20px 0;">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="team-single-member"> 
              <%= image_tag(artic.image, :class => "", :alt => "barnehagen") %>
            </div>
          </div>           
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="team-single-member">
              <div class="page-half-text-details" style="margin-top: 40px;">
                <h2><%= artic.title %></h2>
                <p class="margin-top"><%= artic.content.html_safe %></p>
              </div>
            </div>
          </div>           
        </div>
      </div>
    </div>
  </section>