	<div class="jarallax jarallax-avd">        
	    <div class="demo-table">
	        <div class="demo-table-cell">
	            <h1><%= artic.title %></h1>
	            <h2>
	            	 <%= artic.summary.html_safe %>
	            </2>

	        </div>
	    </div>
	    <div>
	    	<%= image_tag(artic.image, :class => "jarallax-img") %>
	    </div>
	</div>  